<% layout('/layouts/boilerplate') %>

<style>
   button{
    box-shadow: 5px 5px 10px rgba(0,0,0,.1);
    border: 1px solid rgba(0,0,0,.5) !important;
  }
</style>
  <main class="container">
    <h2 class="text-start my-4">Chic Station Gallery</h2>
    <h4 class="mx-2">Click "Choose File" to add picture.</h4>

    <form action="/images" method="post" enctype="multipart/form-data " class="my-2">
      <input type="file" name="image" accept="image/*"  class="btn btn-light"/>
      <input type="text" name="title" placeholder="title" required>
      <button type="submit" class="btn btn-light p-1">Upload</button>
    </form>


    <div class="lightbox-gallery">
      <div class="container">
       
        <div class="photos">
          <% if (images.length> 0) { %>
            <% images.map((image, index)=> { %>
              <div class="item">
                <img src="<%= image.avatar %>" alt="<%= image.title %>">
                <button type="button" class="delete-button btn btn-light mt-2" data-toggle="modal"
                  data-target="#confirmDeleteModal<%= index %>">
                  <i class="fas fa-trash-alt"></i>
                </button>

                <!-- Confirmation Modal -->
                <div class="modal fade" id="confirmDeleteModal<%= index %>" tabindex="-1" role="dialog"
                  aria-labelledby="confirmDeleteModalLabel<%= index %>" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteModalLabel<%= index %>">Confirm Delete</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <p>Are you sure you want to delete this image?</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <form action="/images/<%= image._id %>?_method=DELETE" method="POST">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <% if ((index + 1) % 4===0) { %>
                <div class="clearfix"></div>
                <% } %>
                  <% }) %>
                    <% } else { %>
                      <p>No images found.</p>
                      <% } %>
        </div>
      </div>
    </div>
  </main>